.conteiner {
    display: grid;
    grid-template-areas: 
    "menu menu menu"
    "title title title"
    "rodape rodape rodape"; 
    grid-template-columns: 1fr 3fr 1fr; 
  grid-template-rows: 1fr 3fr 1fr; 
  gap: 0px 0px; 
  height: 100vh;
 
}

.menu{
    grid-area: menu;
    background-color: #0a2c47;
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 3rem;
}
.menu nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}
.title {
    grid-area: title;
    background-color: #fd4848;
    color: white;
    text-align: center;
    padding: 10px;
}
.rodape {
    grid-area: rodape;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
  }

  

  
  